# Preprocessing Raw Data

In [25]:
import pandas as pd
import numpy as np

In [26]:
# Read the data
df_shm = pd.read_csv('../../data/raw/raw_shm.csv')
df_hgb = pd.read_csv('../../data/raw/raw_hgb.csv')
df_dll = pd.read_csv('../../data/raw/raw_lainnya.csv')

In [27]:
# Add column 'sertifikasi' to each dataframe
df_shm['sertifikasi'] = 'shm'
df_hgb['sertifikasi'] = 'hgb'
df_dll['sertifikasi'] = 'lainnya'

In [28]:
# Merged the data into one dataframe
df = pd.concat([df_shm, df_hgb, df_dll])

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1370 entries, 0 to 425
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        1369 non-null   object
 1   desc         1370 non-null   object
 2   loc          1370 non-null   object
 3   sertifikasi  1370 non-null   object
dtypes: object(4)
memory usage: 53.5+ KB

In [30]:
# Check duplicated data
df.duplicated().sum()

60

In [31]:
# Check missing data
df.isnull().sum()

price          1
desc           0
loc            0
sertifikasi    0
dtype: int64

In [32]:
# Removes duplicated data and missing data
df = df.drop_duplicates().dropna()

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 425
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        1309 non-null   object
 1   desc         1309 non-null   object
 2   loc          1309 non-null   object
 3   sertifikasi  1309 non-null   object
dtypes: object(4)
memory usage: 51.1+ KB

In [34]:
# Split the 'desc' column into 3 parts, 'n_bed', 'n_bath', and 'luas_bangunan' separated by '-'
df[['n_bed', 'n_bath', 'luas_bangunan']] = df['desc'].str.split('-', expand=True)

# Extract the digits from 'n_bed', 'n_bath', and 'luas bangunan'
df['n_bed'] = df['n_bed'].str.extract('(\d+)')
df['n_bath'] = df['n_bath'].str.extract('(\d+)')
df['luas_bangunan'] = df['luas_bangunan'].str.extract('(\d+)')

# Drop the 'desc' column
df = df.drop(columns=['desc'])

In [35]:
# Separate the 'loc' column into 2 parts, 'area', and 'city' separated by ','
df[['area', 'city']] = df['loc'].str.split(',', expand=True)

# Drop the 'loc' column
df = df.drop(columns=['loc'])

In [36]:
# Get the full price without the dot symbol and the 'Rp' string, trim the whitespace
df['price'] = df['price'].str.replace('.', '').str.replace('Rp', '').str.strip()
df

,price,sertifikasi,n_bed,n_bath,luas_bangunan,area,city
0,1850000000,shm,4,2,130,Jagakarsa,Jakarta Selatan
1,15500000000,shm,5,4,400,Cilandak,Jakarta Selatan
2,1500000000,shm,5,3,148,Pasar Minggu,Jakarta Selatan
3,474000000,shm,2,2,41,Tanjung Priok,Jakarta Utara
4,1050000000,shm,4,3,150,Cakung,Jakarta Timur
...,...,...,...,...,...,...,...
421,450000000,lainnya,3,2,115,Kemang,Jakarta Selatan
422,50000000,lainnya,1,1,21,Cengkareng,Jakarta Barat
423,1100000000,lainnya,6,6,200,Cibubur,Jakarta Timur
424,120000000,lainnya,1,1,35,Mampang Prapatan,Jakarta Selatan
425,11000000000,lainnya,4,3,330,Pantai Indah Kapuk,Jakarta Utara

In [37]:
# Get the data types of each column
df.dtypes

price            object
sertifikasi      object
n_bed            object
n_bath           object
luas_bangunan    object
area             object
city             object
dtype: object

In [38]:
# Convert n_bed, n_bath, luas_bangunan, and price to int64
df['n_bed'] = df['n_bed'].astype(np.int64)
df['n_bath'] = df['n_bath'].astype(np.int64)
df['luas_bangunan'] = df['luas_bangunan'].astype(np.int64)
df['price'] = df['price'].astype(str).astype(np.int64)

In [39]:
df.dtypes

price             int64
sertifikasi      object
n_bed             int64
n_bath            int64
luas_bangunan     int64
area             object
city             object
dtype: object

In [40]:
df

,price,sertifikasi,n_bed,n_bath,luas_bangunan,area,city
0,1850000000,shm,4,2,130,Jagakarsa,Jakarta Selatan
1,15500000000,shm,5,4,400,Cilandak,Jakarta Selatan
2,1500000000,shm,5,3,148,Pasar Minggu,Jakarta Selatan
3,474000000,shm,2,2,41,Tanjung Priok,Jakarta Utara
4,1050000000,shm,4,3,150,Cakung,Jakarta Timur
...,...,...,...,...,...,...,...
421,450000000,lainnya,3,2,115,Kemang,Jakarta Selatan
422,50000000,lainnya,1,1,21,Cengkareng,Jakarta Barat
423,1100000000,lainnya,6,6,200,Cibubur,Jakarta Timur
424,120000000,lainnya,1,1,35,Mampang Prapatan,Jakarta Selatan
425,11000000000,lainnya,4,3,330,Pantai Indah Kapuk,Jakarta Utara

In [41]:
# Write to csv without the index
df.to_csv('../../data/processed/processed_data.csv', index=False)